.cartao {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%; 
}

.formulario {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
}

.formulario-user > * {
    width: 100%;
}

.formulario-senha > * {
    width: 90%;
}