<div class="lista">
  <mat-card class="cartao" *ngFor="let item of lista">
      <mat-card-header>
        <mat-card-title>
          {{item.nome}}
          <button mat-button (click)="showDialogDel(item.id)">DEL</button>
        </mat-card-title>
        <mat-card-subtitle>{{item.endereco}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <span matLine>{{item.descricao}}</span>
        <div style="padding-top: 3%">
          <div class="formulario-user" *ngIf="item.userName">
            <mat-form-field>
              <input matInput placeholder="Usuário" class="form-control" value="{{item.userName}}" disabled="true">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="formulario-senha">
              <input #inputSenha matInput type="password" placeholder="Senha" class="form-control" value="{{item.userPass}}" disabled="true">
            </mat-form-field>
            <button mat-icon-button (click)="flip(inputSenha,item.id)">
                <mat-icon>vpn_key</mat-icon>
            </button>
          </div>
        </div>
      </mat-card-content>
  </mat-card>
</div>
